*{
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.tag{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 1%;
    right: 1%;
    gap: 7px;
    align-items: center;
    justify-content: center;
}
.btn {
    width: 70px;
    text-align: center; 
    border-radius: 5px;
    cursor: pointer; 
    box-shadow: 1px 1px 1px 2px grey;
    animation: opacity 2s forwards;
}
.btn:hover{
    box-shadow: 1px 1px 2px 3px grey; 
}
.tag a {
    text-decoration: none;
}

a:hover {
    text-decoration: none; 
}

a:active {
    text-decoration: none; 
}

a:visited {
    color: black; 
    text-decoration: none; 
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
img{
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(1.5);
    filter: contrast(1.3);
    margin: 10px;
    animation: imgOpc 2s forwards; 
}
@keyframes imgOpc {
    0%{
        opacity: 0;
        box-shadow: 1px 1px 10px 10px transparent;
    }
    50%{
        opacity: 1 ;
    }
    100%{
        box-shadow: 1px 1px 10px 10px grey;
    }
}
.ver-arrow {
    width: 5px; 
    height: 50px; 
    background-color: rgb(32, 29, 29); 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    animation: drop 1s forwards; 
}
.ver-arrow::after {
    content: '';
    position: absolute;
    bottom: -7px; 
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}
@keyframes drop {
    0% {
        height: 50px; 
    }
    100% {
        height: 80px; 
    }
}
.hori-left-arrow{
    height: 5px;
    background-color: black;
    top: 50%;
    right: 100%;
    position: absolute;
    transform: translateY(-50%);
    animation: left-drop 3s forwards;
    transform-origin: right;
}
.hori-left-arrow::after {
    content: '';
    position: absolute;
    top: -45.74%; 
    left: -24%; 
    border-top: 5px solid transparent;
    border-right: 13px solid black; 
    border-bottom: 5px solid transparent;
}
@keyframes left-drop{
    0%{
        width:20px;
    }
    100%{
        width:35px;
    }
}
.hori-right-arrow{
    height: 5px;
    background-color: black;
    top: 50%;
    left: 100%;
    position: absolute;
    transform: translateY(-50%);
    animation: left-drop 3s forwards;
    transform-origin: right;
}
.hori-right-arrow::after {
    content: '';
    position: absolute;
    top: -45.1%; 
    right: -24%; 
    border-top: 5px solid transparent;
    border-left: 13px solid black; 
    border-bottom: 5px solid transparent;
}
@keyframes right-drop{
    0%{
        width:20px;
    }
    100%{
        width:35px;
    }
}
.circles {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}
.outer-circle {
    height: 100px;
    width: 100px; 
    border-radius: 50%;
    border: 2px solid black;
    position: relative; 
    box-shadow: 2px 1px 10px 5px grey;
}

.inner-circle {
    height: 40px; 
    width: 40px; 
    border-radius: 50%;
    border: 2px solid black;
    position: absolute; 
    top: 50px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    box-shadow: 2px 1px 10px 5px grey; 
}

.inner-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: black;
}
.right-p,.left-p{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.7%;
    border-radius: 15%;
    animation: borders 5s ease forwards;
    cursor: pointer;
}
@keyframes borders{
    from{
        border: 2px solid transparent;
        opacity: 0;
    }
    to{
        border: 2px solid black;
        opacity: 1;
        box-shadow: 2px 1px 10px 5px grey; 
    }
}
