* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
}

body {
    opacity: 0;
    animation: opacity 5s forwards; 
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container1 {
    width: 60%;
    border: 2px solid black;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 2px grey;
    padding: 7px;
    margin: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    animation: opacity 5s forwards;
    opacity: 0;
    animation-delay: 2s;
}

.sub-container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.text-container {
    height: 60px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 5px;
    font-weight: 500;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
    animation: opc 5s forwards;
}

@keyframes opc {
    0% {
        box-shadow: 1px 1px 2px 3px transparent;
    }

    100% {
        box-shadow: 1px 1px 2px 3px gray;
    }
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.name {
    font-weight: 500;
    margin: 10px;
    margin-right: 0;
}

.tag {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1%;
    right: 1%;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 70px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 2px grey;
    animation: opacity1 2s forwards;
}

.btn:hover {
    box-shadow: 1px 1px 2px 3px grey;
}

.tag a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

@keyframes opacity1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
