* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    user-select: none;
}
body {
    animation: opacity 2s ease; 
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;    
}
.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width: 25ch;
    border-right-color:transparent;
    animation: typing 3s steps(30);
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
}
@keyframes typing {
    from {
        width: 0.005%;
    }   
}
.boxes{
    height: 60px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10%;
    padding-top: 17px;
    flex-shrink: 0;
}
.top-boxes, .bottom-boxes {
    display: flex;
    justify-content: center; 
    height: 38.5%;
    width: 100%; 
    gap: 15%;
}
.top-boxes{
    margin-top: 2.5%;
}
.bottom-boxes{
    margin-bottom: 5%;
}
.box1 {
    top: 0;
    left: 0;
    animation: rotate1 1s forwards; 
}

.box2 {
    top: 0;
    right: 0;
    animation: rotate2 1s forwards;
}

.box3 {
    bottom: 0;
    left: 0;
    animation: rotate3 1s forwards;
}

.box4 {
    bottom: 0;
    right: 0;
    animation: rotate4 1s forwards;
}

.text-rotation{
    transform: scaleX(-1) scaleY(-1);
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-765deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(765deg);
    }
}

@keyframes rotate3 {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform: rotate(-855deg);
    }
}

@keyframes rotate4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(855deg);
    }
}
.boxes:hover{
    box-shadow: 2px 1px 10px 5px grey;    
}
a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
