* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
}

body {
    opacity: 0;
    animation: opacity 5s forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.text-container {
    height: 60px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 42px;
    margin-bottom: 35px;
    padding: 5px;
    font-weight: 500;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
    animation: opc 5s forwards;
}

@keyframes opc {
    0% {
        box-shadow: 1px 1px 2px 3px transparent;
    }

    100% {
        box-shadow: 1px 1px 2px 3px gray;
    }
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

#text1 {
    animation: fadeInOut1 7s forwards;
}

#text2 {
    animation: fadeInOut2 5s forwards;
    animation-delay: 6s;
}

@keyframes fadeInOut1 {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tag {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 1%;
    right: 1%;
    gap: 7px;
}

.btn {
    height: 30px;
    width: 80px;
    top: 10px;
    right: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    padding: 1px;
    box-shadow: 1px 1px 1px 2px grey;
    animation: opacity 2s forwards;
}

.btn:hover {
    box-shadow: 1px 1px 2px 3px grey;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hori-left-arrow {
    height: 5px;
    background-color: black;
    top: 50%;
    right: 100%;
    position: absolute;
    transform: translateY(-50%);
    animation: left-drop 3s forwards;
    transform-origin: right;
}

.hori-left-arrow::after {
    content: '';
    position: absolute;
    top: -45.74%;
    left: -24%;
    border-top: 5px solid transparent;
    border-right: 13px solid black;
    border-bottom: 5px solid transparent;
}

@keyframes left-drop {
    0% {
        width: 20px;
    }

    100% {
        width: 35px;
    }
}

.hori-right-arrow {
    height: 5px;
    background-color: black;
    top: 50%;
    left: 100%;
    position: absolute;
    transform: translateY(-50%);
    animation: left-drop 3s forwards;
    transform-origin: right;
}

.hori-right-arrow::after {
    content: '';
    position: absolute;
    top: -45.1%;
    right: -24%;
    border-top: 5px solid transparent;
    border-left: 13px solid black;
    border-bottom: 5px solid transparent;
}

@keyframes right-drop {
    0% {
        width: 20px;
    }

    100% {
        width: 35px;
    }
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.outer-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    box-shadow: 2px 1px 10px 5px grey;
}

.inner-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 1px 10px 5px grey;
}

.inner-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.right-p,
.left-p {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.7%;
    border-radius: 15%;
    animation: borders 5s ease forwards;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

@keyframes borders {
    from {
        border: 2px solid transparent;
        opacity: 0;
    }

    to {
        border: 2px solid black;
        opacity: 1;
        box-shadow: 2px 1px 10px 5px grey;
    }
}